*.ignore
*.orig
*.rdb

*.ignoreglb
ign/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.sw[po]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
cover/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# virtualenv
.venv
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

### macOS ###
*.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
ehthumbs.db
Thumbs.db

### Linux ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
